/* Main Styles */
body {
    margin: 0;
}

h1, h2 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.84);
    text-align: left;
    line-height: 44px;
    margin-bottom: 10px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 34px;
    line-height: 39px;
}

article {
    margin: 54px 360px 94px 364px;
    width: 700px;
}

.paragraph {
    margin-top: 55px;
    margin-bottom: 55px;
}

p {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.84);
    text-align: left;
    line-height: 33px;
    margin-top: 10px;
}

header img {
    margin: 10px 1289px 31px 38px;
}

header nav ul {
    width: 100%;
    border: black solid 1px;
    background-color: #faf9f8;
    list-style: none;
}

header nav li {
    margin-left: 30px;
    display: inline-block;
}

header nav a {
    font-family: LucidaGrande, serif;
    font-size: 24px;
    color: #333333;
    text-align: left;
    line-height: 36px;
    text-decoration: none;
}

header nav a:visited,
header nav a.focus {
    color: red;
}

header nav a:hover,
header nav a:active {
    text-decoration: underline;
}

article img {
    margin-top: 43px;
    margin-bottom: 37px;
}

code {
    font-family: "Courier New", monospace;
    background-color:rgba(0,0,0,0.14);
    text-align:left;
}

/* Mobile Styles */
@media (max-width: 800px) {
    header nav li  {
        display: list-item;
    }

    .blocks {
        margin-left: 5%;
        margin-right: 5%;
    }
}